.wrapper {
  width: 400px;
  height: 400px;
  margin: 100px auto;
}
.square {
  width: 120px;
  height: 120px;
  background-color: darkorange;
  margin: 5px;
  font-size: 108px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  cursor: pointer;
  float: left;
}
